body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-family: 'Nontserrat', sans-serif;

}


.body-1
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(IMG9147.jpg);
	background-size: cover;
	
}
.body-1 .wave
{
	position: absolute;
	width: 100%;
	height: 143px;
	bottom: 0;
	left: 0;
	background: url(wave.png);
	animation: animate 10s linear infinite;
}
.body-1 .wave:before
{
	content: '';
	width: 100%;
	height: 143px;
	background: url(wave.png);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	animation: animate-reverse 10s linear infinite;
}
.body-1 .wave:after
{
	content: '';
	width: 100%;
	height: 143px;
	background: url(wave.png);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	animation-delay: -5s;
	animation: animate 20s linear infinite;
}
@keyframes animate
{
	0%
	{
		background-position: 0;
	}
	100%
	{
		background-position: 1360px;
	}
}
@keyframes animate-reverse
{
	0%
	{
		background-position: 1360px;
	}
	100%
	{
		background-position: 0;
	}
}


.btn{

	float: right;
	margin-right: 100px;
	margin-top: -30px;

}

.btn ul {
	float: right;
}
.btn ul li{
	display: inline-block;
	list-style-type: none;
}
.btn ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 100px;
	padding: 5px 8px;
	font-size: 15px;
	letter-spacing: 0.5px;
	transition: 0.5s ease;
	text-transform: uppercase;
}
.title{
	font-size: 30px;
	color: #fff;
	float: left;
	margin-right: 260px;
	margin-top: -15px;
}

.sort{
	font-size: 30px;
	margin-top: -30px;
	
}
.head {
	width: 100%;
	padding: 100px 0 90px 0;
	background : linear-gradient(#fff,#D0F3F0 ,#90F1E4 ,#fff);
	background-size: cover;
	float: left;
	clear: both;
}
.head h2 {
	font-size: 32px;
	line-height: 19px;
	margin-bottom: 50px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #000;
	font-weight: 2500;
	text-transform: uppercase;

}
.head p {
	width: 80%;
	margin: 0 auto;
	text-align: center justify;
	line-height: 23px;
	color: #000;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin-bottom: 20px;

}

.head h1{

	font-size: 32px;
	line-height: 19px;
	margin-bottom: 50px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #000;
	font-weight: 2500;
	text-transform: uppercase;
	margin-top: 90px;
}
.Container{
	color: white;
}
.box{

	float: left;
	width: 20%;
	padding: 5px;
	padding-left: 5px;
}
.box img{
	width: 200px;
	margin-left: 200px;
	margin-right: 100px;
	border-radius: 5px;
}
.Container img:hover{
	transform: scale(2,2);
	transition: .3s transform;
}
.com{
	margin-right: 500px;width: 100%;
	font-size: 17px;
	color: #fff;
	float: left;
	padding: 17px 0px;
	text-align: center;
	line-height: 8px;
	background:linear-gradient(45deg,red 62%,blue 60%);
	text-transform: uppercase;

}
